In [1]:
import polars as pl
import polars.selectors as cs
from polars_ds.pipeline import Pipeline, Blueprint
from polars.testing import assert_frame_equal

# Builtin Pipeline Functions

You can use it for:

1. Data Science Pipelines
2. Data preparation, manipulation, wrangling pipelines

In [2]:
df = pl.read_parquet("../examples/dependency.parquet").select(pl.exclude(['DOB', 'Source', 'Lead_Creation_Date', 'City_Code', 'Employer_Code']))
df.head()

shape: (5, 17)
┌───────────────┬────────┬──────────────┬──────────────┬───┬──────────────┬──────┬──────┬──────────┐
│ ID            ┆ Gender ┆ City_Categor ┆ Employer_Cat ┆ … ┆ Interest_Rat ┆ EMI  ┆ Var1 ┆ Approved │
│ ---           ┆ ---    ┆ y            ┆ egory1       ┆   ┆ e            ┆ ---  ┆ ---  ┆ ---      │
│ str           ┆ str    ┆ ---          ┆ ---          ┆   ┆ ---          ┆ i64  ┆ i64  ┆ i64      │
│               ┆        ┆ str          ┆ str          ┆   ┆ f64          ┆      ┆      ┆          │
╞═══════════════╪════════╪══════════════╪══════════════╪═══╪══════════════╪══════╪══════╪══════════╡
│ APPC904931712 ┆ Female ┆ A            ┆ A            ┆ … ┆ null         ┆ null ┆ 0    ┆ 0        │
│ 25            ┆        ┆              ┆              ┆   ┆              ┆      ┆      ┆          │
│ APPD406112633 ┆ Male   ┆ A            ┆ C            ┆ … ┆ 13.25        ┆ 953  ┆ 10   ┆ 0        │
│ 44            ┆        ┆              ┆              ┆   ┆              ┆      ┆      ┆          │
│ APPE702892494 ┆ Male   ┆ C            ┆ C            ┆ … ┆ null         ┆ null ┆ 0    ┆ 0        │
│ 23            ┆        ┆              ┆              ┆   ┆              ┆      ┆      ┆          │
│ APPF802738655 ┆ Male   ┆ C            ┆ A            ┆ … ┆ null         ┆ null ┆ 7    ┆ 0        │
│ 37            ┆        ┆              ┆              ┆   ┆              ┆      ┆      ┆          │
│ APPG609944366 ┆ Male   ┆ A            ┆ A            ┆ … ┆ null         ┆ null ┆ 10   ┆ 0        │
│ 41            ┆        ┆              ┆              ┆   ┆              ┆      ┆      ┆          │
└───────────────┴────────┴──────────────┴──────────────┴───┴──────────────┴──────┴──────┴──────────┘

## 1. A data science pipeline with data science transformers

In [3]:
sql = """
select
*
, 'TEST' as test_col
from df
where loan_amount is not null
"""

In [4]:
# Create a blueprint first. 
# A blueprint is a plan for a pipeline. No hard work will be done until the blueprint is materialized, which
# is when the tranforms are fitted (e.g. scale learns the mean and std from base data)
# If target is specified for the blueprint, target will be excluded from all transformations that require a fit,
# and target will be auto-filled if the transformation requires a target field and when no target field is explicitly given.

bp = (
    Blueprint(df, name = "example", target = "approved", lowercase=True) # You can optionally put target of the ML model here
    # Select only the columns we need
    .sql_transform(sql) # Run a SQL transform on the df
    # Say you want to remove a population for your data pipeline.
    .filter( 
        "city_category is not null" # or equivalently, you can do: pl.col("city_category").is_not_null()
    )
    # explicitly put target, since this is not the target for prediction. 
    # Use a linear regression with x1 = var1, x2=existing_emi to predict missing values in loan_period
    .linear_impute(features = ["var1", "existing_emi"], target = "loan_period") 
    .impute(["existing_emi"], method = "median")
    .with_columns( # generate some features
        pl.col("existing_emi").log1p().alias("existing_emi_log1p"),
        pl.col("loan_amount").log1p().alias("loan_amount_log1p"),
        pl.col("loan_amount").clip(lower_bound = 0, upper_bound = 1000).alias("loan_amount_log1p_clipped"),
        pl.col("loan_amount").sqrt().alias("loan_amount_sqrt"),
        pl.col("loan_amount").shift(-1).alias("loan_amount_lag_1") # any kind of lag transform
    )
    .scale( # target is numerical, but will be excluded automatically because bp is initialzied with a target
        cs.numeric().exclude(["var1", "existing_emi_log1p"]), method = "standard"
    ) # Scale the columns up to this point. The columns below won't be scaled
    .with_columns(
        # Add missing flags
        pl.col("employer_category1").is_null().cast(pl.UInt8).alias("employer_category1_is_missing")
    )
    .woe_encode(cols = pl.exclude('id')) # No need to specify target because we initialized bp with a target. None means encode all str columns
    .sort(by = "monthly_income", descending=True)
    # .one_hot_encode(cols=None, drop_first=True) # None means all str columns, or you can provide a list of columns
    # .target_encode("employer_category1", min_samples_leaf = 20, smoothing = 10.0) # same as above
)

print(bp)

Blueprint name: example
Column names: Lowercase all incoming columns.
Blueprint current steps: 9
Features Expected: ['id', 'gender', 'city_category', 'employer_category1', 'employer_category2', 'monthly_income', 'customer_existing_primary_bank_code', 'primary_bank_type', 'contacted', 'source_category', 'existing_emi', 'loan_amount', 'loan_period', 'interest_rate', 'emi', 'var1', 'approved']

In [5]:
# Materialize the blueprint
pipe:Pipeline = bp.materialize(
    # This is an optional parameter, which will be passed to .collect()
    # when there is a fit stet. User may decide which 
    optimizations = pl.QueryOptFlags() 
)
# Text representation of the pipeline
pipe

Pipeline(name='example', feature_names_in_=['id', 'gender', 'city_category', 'employer_category1', 'employer_category2', 'monthly_income', 'customer_existing_primary_bank_code', 'primary_bank_type', 'contacted', 'source_category', 'existing_emi', 'loan_amount', 'loan_period', 'interest_rate', 'emi', 'var1', 'approved'], feature_names_out_=['id', 'gender', 'city_category', 'employer_category1', 'employer_category2', 'monthly_income', 'customer_existing_primary_bank_code', 'primary_bank_type', 'contacted', 'source_category', 'existing_emi', 'loan_amount', 'loan_period', 'interest_rate', 'emi', 'var1', 'approved', 'test_col', 'existing_emi_log1p', 'loan_amount_log1p', 'loan_amount_log1p_clipped', 'loan_amount_sqrt', 'loan_amount_lag_1', 'employer_category1_is_missing'], transforms=[<polars_ds.pipeline._step.SQLStep object at 0x7ff62266e650>, <polars_ds.pipeline._step.ExprStep object at 0x7ff6117ad360>, <polars_ds.pipeline._step.ExprStep object at 0x7ff6117aca90>, <polars_ds.pipeline._step.ExprStep object at 0x7ff622560730>, <polars_ds.pipeline._step.ExprStep object at 0x7ff62012aaa0>, <polars_ds.pipeline._step.ExprStep object at 0x7ff6101009a0>, <polars_ds.pipeline._step.ExprStep object at 0x7ff622563820>, <polars_ds.pipeline._step.ExprStep object at 0x7ff6105d8a60>, <polars_ds.pipeline._step.SortStep object at 0x7ff6117b8400>], ensure_features_in=False, ensure_features_out=True, lowercase=True, uppercase=False)

In [6]:
# If you want separation between features (X) and target (y)
# you can run the following:
# df_x, df_y = pipe.transform(df, separate=True)

df_transformed = pipe.transform(
    df 
    # This is an optional parameter, which can be used to tune performance
    # during collect
    , optimizations = pl.QueryOptFlags() 
)
df_transformed.head()

shape: (5, 24)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ id        ┆ gender   ┆ city_cate ┆ employer_ ┆ … ┆ loan_amou ┆ loan_amou ┆ loan_amou ┆ employer_ │
│ ---       ┆ ---      ┆ gory      ┆ category1 ┆   ┆ nt_log1p_ ┆ nt_sqrt   ┆ nt_lag_1  ┆ category1 │
│ str       ┆ f64      ┆ ---       ┆ ---       ┆   ┆ clipped   ┆ ---       ┆ ---       ┆ _is_missi │
│           ┆          ┆ f64       ┆ f64       ┆   ┆ ---       ┆ f64       ┆ f64       ┆ ng        │
│           ┆          ┆           ┆           ┆   ┆ f64       ┆           ┆           ┆ ---       │
│           ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆ u8        │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ APPJ70184 ┆ 0.042296 ┆ 0.080959  ┆ -0.318275 ┆ … ┆ NaN       ┆ 2.937331  ┆ 0.343978  ┆ 0         │
│ 404909    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPD50002 ┆ 0.042296 ┆ 0.080959  ┆ null      ┆ … ┆ NaN       ┆ 0.543738  ┆ -0.632348 ┆ 1         │
│ 916548    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPA60086 ┆ 0.042296 ┆ 0.080959  ┆ -0.318275 ┆ … ┆ NaN       ┆ -1.263712 ┆ -0.306906 ┆ 0         │
│ 062823    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPO10994 ┆ 0.042296 ┆ 0.080959  ┆ -0.318275 ┆ … ┆ NaN       ┆ 2.937331  ┆ -0.306906 ┆ 0         │
│ 188022    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPO90710 ┆ 0.042296 ┆ 0.080959  ┆ 0.193157  ┆ … ┆ NaN       ┆ 2.937331  ┆ -0.632348 ┆ 0         │
│ 036421    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [7]:
if tuple(int(v) for v in pl.__version__.split(".")) >= (1, 34, 0):
    batches = []
    for df_batch in pipe.transform(df, return_lazy=True).collect_batches():
        batches.append(df_batch)
        # Pass the batch to any ML model which can be updated. (Online training)

    # Here we test that the df combined from the batches is equivalent to the original df_transformed
    # up to reordering. If we don't sort by id, the frames are equal in terms of all the transformed records 
    # but may not be equal in terms of the ordering. 
    # The reason is that when collecting from batches, ordering may not be
    # so clear and strictly the same as the original. By testing, the `sort` transform should
    # be avoided if you want the same df output with the same ordering without manually ordering them.

    df_transformed_from_batches = pl.concat(batches).sort("id")
    assert_frame_equal(df_transformed.sort("id"), df_transformed_from_batches)

In [8]:
# Empty. Because we filtered this to not null.
df_transformed.filter(
    pl.col("city_category").is_null()
)

shape: (0, 24)
┌─────┬────────┬─────────────┬─────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ id  ┆ gender ┆ city_catego ┆ employer_ca ┆ … ┆ loan_amoun ┆ loan_amoun ┆ loan_amoun ┆ employer_c │
│ --- ┆ ---    ┆ ry          ┆ tegory1     ┆   ┆ t_log1p_cl ┆ t_sqrt     ┆ t_lag_1    ┆ ategory1_i │
│ str ┆ f64    ┆ ---         ┆ ---         ┆   ┆ ipped      ┆ ---        ┆ ---        ┆ s_missing  │
│     ┆        ┆ f64         ┆ f64         ┆   ┆ ---        ┆ f64        ┆ f64        ┆ ---        │
│     ┆        ┆             ┆             ┆   ┆ f64        ┆            ┆            ┆ u8         │
╞═════╪════════╪═════════════╪═════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
└─────┴────────┴─────────────┴─────────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [9]:
# Empty. Because we filtered this to not null in the SQL
df_transformed.filter(
    pl.col("loan_amount").is_null()
)

shape: (0, 24)
┌─────┬────────┬─────────────┬─────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ id  ┆ gender ┆ city_catego ┆ employer_ca ┆ … ┆ loan_amoun ┆ loan_amoun ┆ loan_amoun ┆ employer_c │
│ --- ┆ ---    ┆ ry          ┆ tegory1     ┆   ┆ t_log1p_cl ┆ t_sqrt     ┆ t_lag_1    ┆ ategory1_i │
│ str ┆ f64    ┆ ---         ┆ ---         ┆   ┆ ipped      ┆ ---        ┆ ---        ┆ s_missing  │
│     ┆        ┆ f64         ┆ f64         ┆   ┆ ---        ┆ f64        ┆ f64        ┆ ---        │
│     ┆        ┆             ┆             ┆   ┆ f64        ┆            ┆            ┆ u8         │
╞═════╪════════╪═════════════╪═════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
└─────┴────────┴─────────────┴─────────────┴───┴────────────┴────────────┴────────────┴────────────┘

# A data preparation, manipulation pipeline

In [10]:

bp2 = (
    Blueprint(df, name = "example", target = "approved", lowercase=True) # You can optionally put target of the ML model here
    .filter( 
        "city_category is not null" # or equivalently, you can do: pl.col("city_category").is_not_null()
    )
    .with_columns( # generate some features
        pl.col("existing_emi").log1p().alias("existing_emi_log1p"),
        pl.col("loan_amount").log1p().alias("loan_amount_log1p"),
        pl.col("loan_amount").clip(lower_bound = 0, upper_bound = 1000).alias("loan_amount_log1p_clipped"),
        pl.col("loan_amount").sqrt().alias("loan_amount_sqrt"),
        pl.col("loan_amount").shift(-1).alias("loan_amount_lag_1") # any kind of lag transform
    )
    .group_by_agg(by = "city_category", agg = [
        pl.col("loan_amount").sqrt().mean().alias("loan_amount_sqrt_mean")
        , pl.col("loan_amount").min().alias("loan_amount_min")
        , pl.col("loan_amount").max().alias("loan_amount_max")
    ])
    .sort(by = ["city_category"] , descending=True)
)

print(bp2)

Blueprint name: example
Column names: Lowercase all incoming columns.
Blueprint current steps: 4
Features Expected: ['id', 'gender', 'city_category', 'employer_category1', 'employer_category2', 'monthly_income', 'customer_existing_primary_bank_code', 'primary_bank_type', 'contacted', 'source_category', 'existing_emi', 'loan_amount', 'loan_period', 'interest_rate', 'emi', 'var1', 'approved']

In [11]:
pipe2 = bp2.materialize()
df_transformed2 = pipe2.transform(df)
df_transformed2.head()

shape: (3, 4)
┌───────────────┬───────────────────────┬─────────────────┬─────────────────┐
│ city_category ┆ loan_amount_sqrt_mean ┆ loan_amount_min ┆ loan_amount_max │
│ ---           ┆ ---                   ┆ ---             ┆ ---             │
│ str           ┆ f64                   ┆ i64             ┆ i64             │
╞═══════════════╪═══════════════════════╪═════════════════╪═════════════════╡
│ C             ┆ 169.847635            ┆ 5000            ┆ 250000          │
│ B             ┆ 183.365209            ┆ 5000            ┆ 300000          │
│ A             ┆ 190.146432            ┆ 5000            ┆ 300000          │
└───────────────┴───────────────────────┴─────────────────┴─────────────────┘

In [12]:
df_app = pl.read_csv("apple_stock.csv", try_parse_dates=True)
df_app.head()

shape: (5, 2)
┌────────────┬───────┐
│ Date       ┆ Close │
│ ---        ┆ ---   │
│ date       ┆ f64   │
╞════════════╪═══════╡
│ 1981-02-23 ┆ 24.62 │
│ 1981-05-06 ┆ 27.38 │
│ 1981-05-18 ┆ 28.0  │
│ 1981-09-25 ┆ 14.25 │
│ 1982-07-08 ┆ 11.0  │
└────────────┴───────┘

In [13]:
bp3 = (
    Blueprint(df_app) 
    .sort(by = ["Date"] , descending=False)
    .group_by_dynamic_agg(
        index_column = "Date"
        , every="1y"
        , agg = [
            pl.col("Close").sqrt().mean().alias("sqrt_mean")
            , pl.col("Close").min().alias("min")
            , pl.col("Close").max().alias("max")
        ]
    )
)

pipe3 = bp3.materialize()
df_transformed3 = pipe3.transform(df_app)
df_transformed3.head()

shape: (5, 4)
┌────────────┬───────────┬───────┬───────┐
│ Date       ┆ sqrt_mean ┆ min   ┆ max   │
│ ---        ┆ ---       ┆ ---   ┆ ---   │
│ date       ┆ f64       ┆ f64   ┆ f64   │
╞════════════╪═══════════╪═══════╪═══════╡
│ 1981-01-01 ┆ 4.815216  ┆ 14.25 ┆ 28.0  │
│ 1982-01-01 ┆ 3.316625  ┆ 11.0  ┆ 11.0  │
│ 1983-01-01 ┆ 5.49082   ┆ 23.13 ┆ 40.0  │
│ 1984-01-01 ┆ 5.25184   ┆ 27.13 ┆ 28.12 │
│ 1985-01-01 ┆ 4.252269  ┆ 14.75 ┆ 20.0  │
└────────────┴───────────┴───────┴───────┘

# A Time Series Pipeline

In [14]:
import numpy as np
import random 

df_ts = pl.DataFrame(
    {
        "id": [1] * 9 + [2] * 15 + [3] * 6,
        "timestamp": list(range(9))
        + list(range(15))
        + list(range(6)),
        "var_1": np.random.rand(30),
        "var_2": np.random.rand(30),
        "target": random.choices([False, True], k=30),
    }
)

bp4 = (
    Blueprint(df_ts) 
    .scale(
        ["var_1", "var_2"]
        , method = "standard"
    ).group_by_agg(
        by = "id"
        , maintain_order = True
        , agg = [
            "timestamp",
            pl.col("var_1").mul(10),
            pl.col("var_2").truediv(10),
            "target",
        ]
    ).explode(columns = pl.exclude("id"))
    .group_by_dynamic_agg(
        index_column = "timestamp"
        , every="3i"
        , group_by = "id"
        , start_by="datapoint"
        , agg = [
            pl.concat_list("var_1", "var_2").alias("features"),
            pl.col("target").sum(),
        ]
    ).with_columns(
        pl.col("features").cast(pl.Array(pl.Float64, (3, 2)))
    )
)

pipe4 = bp4.materialize()
df_transformed4 = pipe4.transform(df_ts)
df_transformed4.head()

shape: (5, 4)
┌─────┬───────────┬─────────────────────────────────┬────────┐
│ id  ┆ timestamp ┆ features                        ┆ target │
│ --- ┆ ---       ┆ ---                             ┆ ---    │
│ i64 ┆ i64       ┆ array[f64, (3, 2)]              ┆ u32    │
╞═════╪═══════════╪═════════════════════════════════╪════════╡
│ 1   ┆ 0         ┆ [[-4.792937, -0.015359], [9.95… ┆ 1      │
│ 1   ┆ 3         ┆ [[12.442229, -0.160611], [14.6… ┆ 2      │
│ 1   ┆ 6         ┆ [[4.381065, 0.076757], [-6.968… ┆ 2      │
│ 2   ┆ 0         ┆ [[-14.00195, -0.0513], [6.9358… ┆ 1      │
│ 2   ┆ 3         ┆ [[-14.697957, -0.068382], [-4.… ┆ 1      │
└─────┴───────────┴─────────────────────────────────┴────────┘

# Serialization Methods

You can always use a pickle to preserve the pipeline. So I won't demonstrate that here. What's more exciting is that PDS pipelines can be turned into JSON.

In [15]:
pipe.to_json("test.json")
pipe_reload = Pipeline.from_json(open("test.json").read())
# True
assert_frame_equal(df_transformed, pipe_reload.transform(df))

In [16]:
pipe2.to_json("test2.json")
pipe2_reload = Pipeline.from_json(open("test2.json").read())
# True
assert_frame_equal(df_transformed2, pipe2_reload.transform(df))

In [17]:
pipe3.to_json("test3.json")
pipe3_reload = Pipeline.from_json(open("test3.json").read())
# True
assert_frame_equal(df_transformed3, pipe3_reload.transform(df_app))

In [18]:
pipe4.to_json("test4.json")
pipe4_reload = Pipeline.from_json(open("test4.json").read())
# True
assert_frame_equal(df_transformed4, pipe4_reload.transform(df_ts))

# Custom Tranformations in Pipeline

Need version >= v0.4.6 (Not released yet)

In [19]:
df = pl.read_parquet("../examples/dependency.parquet")
df.head()

shape: (5, 22)
┌────────────────┬────────┬──────────┬────────────────┬───┬───────────────┬──────┬──────┬──────────┐
│ ID             ┆ Gender ┆ DOB      ┆ Lead_Creation_ ┆ … ┆ Interest_Rate ┆ EMI  ┆ Var1 ┆ Approved │
│ ---            ┆ ---    ┆ ---      ┆ Date           ┆   ┆ ---           ┆ ---  ┆ ---  ┆ ---      │
│ str            ┆ str    ┆ str      ┆ ---            ┆   ┆ f64           ┆ i64  ┆ i64  ┆ i64      │
│                ┆        ┆          ┆ str            ┆   ┆               ┆      ┆      ┆          │
╞════════════════╪════════╪══════════╪════════════════╪═══╪═══════════════╪══════╪══════╪══════════╡
│ APPC9049317122 ┆ Female ┆ 23/07/79 ┆ 15/07/16       ┆ … ┆ null          ┆ null ┆ 0    ┆ 0        │
│ 5              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPD4061126334 ┆ Male   ┆ 07/12/86 ┆ 04/07/16       ┆ … ┆ 13.25         ┆ 953  ┆ 10   ┆ 0        │
│ 4              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPE7028924942 ┆ Male   ┆ 10/12/82 ┆ 19/07/16       ┆ … ┆ null          ┆ null ┆ 0    ┆ 0        │
│ 3              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPF8027386553 ┆ Male   ┆ 30/01/89 ┆ 09/07/16       ┆ … ┆ null          ┆ null ┆ 7    ┆ 0        │
│ 7              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPG6099443664 ┆ Male   ┆ 19/04/85 ┆ 20/07/16       ┆ … ┆ null          ┆ null ┆ 10   ┆ 0        │
│ 1              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
└────────────────┴────────┴──────────┴────────────────┴───┴───────────────┴──────┴──────┴──────────┘

In [20]:
from typing import Union, List

# Any custom function must satistfy the following function signature:
# func(df:Union[pl.DataFrame, pl.LazyFrame], cols: List[str], ...) -> List[pl.Expr]
# where ... means kwargs
# Here is a custom imputer

def smallest_abs_impute(df:Union[pl.DataFrame, pl.LazyFrame], cols: List[str], epsilon:float = 0.01) -> List[pl.Expr]:
    """
    Imputes columns by the min of the absolute values for c in columns, plus epsilon.
    """
    temp = df.lazy().select(pl.col(cols).abs().min() + epsilon).collect().row(0)
    return [pl.col(c).fill_null(m) for c, m in zip(cols, temp)]

In [21]:
bp = (
    Blueprint(df, name = "example", target = "approved", lowercase=True)
    .append_fit_func(smallest_abs_impute, ["var1", "existing_emi", "loan_amount"], epsilon = 0.5)
    # Use append_fit_func for custom transforms
)
# Notice that the value to impute is correct, it is 0.5, because the min abs of the columns are 0.
pipe:Pipeline = bp.materialize()
pipe

Pipeline(name='example', feature_names_in_=['id', 'gender', 'dob', 'lead_creation_date', 'city_code', 'city_category', 'employer_code', 'employer_category1', 'employer_category2', 'monthly_income', 'customer_existing_primary_bank_code', 'primary_bank_type', 'contacted', 'source', 'source_category', 'existing_emi', 'loan_amount', 'loan_period', 'interest_rate', 'emi', 'var1', 'approved'], feature_names_out_=['id', 'gender', 'dob', 'lead_creation_date', 'city_code', 'city_category', 'employer_code', 'employer_category1', 'employer_category2', 'monthly_income', 'customer_existing_primary_bank_code', 'primary_bank_type', 'contacted', 'source', 'source_category', 'existing_emi', 'loan_amount', 'loan_period', 'interest_rate', 'emi', 'var1', 'approved'], transforms=[<polars_ds.pipeline._step.ExprStep object at 0x7ff5f414a5f0>], ensure_features_in=False, ensure_features_out=True, lowercase=True, uppercase=False)

In [22]:
pipe.transform(df).null_count().select(["var1", "existing_emi", "loan_amount"])

shape: (1, 3)
┌──────┬──────────────┬─────────────┐
│ var1 ┆ existing_emi ┆ loan_amount │
│ ---  ┆ ---          ┆ ---         │
│ u32  ┆ u32          ┆ u32         │
╞══════╪══════════════╪═════════════╡
│ 0    ┆ 0            ┆ 0           │
└──────┴──────────────┴─────────────┘

# Scriptable Steps in Pipeline

What is a scriptable step? It means we can encode steps in a json or yaml file easily. As long as we can turn the text into 
a valid Python dictionary, the step (the transformation) can be defined.

In [23]:
df.select(
    pl.col("Existing_EMI").null_count() 
)

shape: (1, 1)
┌──────────────┐
│ Existing_EMI │
│ ---          │
│ u32          │
╞══════════════╡
│ 51           │
└──────────────┘

In [24]:
bp = Blueprint(df, name = "example", target = "approved")

# Takes in a dict with 3 fields: `name`, `args`, and `kwargs`. 
# Args and kwargs are optional depending on whether the method call needs certain arguments.
step_dict_1 = {
    "name": "impute",
    "kwargs": {"cols": ["Existing_EMI"], "method": "median"} 
}

step_dict_2 = {
    "name": "does_not_exist",
    "kwargs": {"test": 1} 
}

# filter_step = {
#     "name": "filter",
#     "args": ["Employer_Category1 is not null"]
# }

bp.append_step_from_dict(
    step_dict_1
)

# .append_step_from_dict(
#     filter_step
# )

# bp.append_step_from_dict(step_dict_2) # Will error
pipe = bp.materialize()
# 
df_transformed = pipe.transform(df)
df_transformed.select(
    pl.col("Existing_EMI").null_count() # Imputed. So 0
)

shape: (1, 1)
┌──────────────┐
│ Existing_EMI │
│ ---          │
│ u32          │
╞══════════════╡
│ 0            │
└──────────────┘

# Custom Transforms as a Scriptable Steps in Pipeline

You need to inherit the blueprint class. Once the blueprint is materialized (learned). You do not need this class any more, because the "learned" info should all be encoded as Polars expressions

In [25]:
from polars_ds.pipeline import Blueprint, FitStep
from typing import Union, List

from functools import partial

def smallest_abs_impute(df:Union[pl.DataFrame, pl.LazyFrame], cols: List[str], epsilon:float = 0.01) -> List[pl.Expr]:
    """
    Imputes columns by the min of the absolute values for c in columns, plus epsilon.
    """
    temp = df.lazy().select(pl.col(cols).abs().min() + epsilon).collect().row(0)
    return [pl.col(c).fill_null(m).name.suffix("_imputed") for c, m in zip(cols, temp)]

class ExtendedBlueprint(Blueprint):

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)

    def smallest_abs_impute(self, cols: List[str], epsilon:float = 0.01) -> "ExtendedBlueprint":
        # bind all arguments, except df and cols.
        # If you don't want to use partial from functool, you can define an inner function
        partial_func = partial(smallest_abs_impute, epsilon=epsilon)
        self._steps.append(
            FitStep(partial_func, cols, self.exclude)
        )
        return self

    def smallest_abs_impute2(self, cols: List[str], epsilon:float = 0.01) -> "ExtendedBlueprint":
        # bind all arguments, except df and cols.
        # Example of using an inner function
        def inner_func(df:Union[pl.DataFrame, pl.LazyFrame], cols: List[str]) -> List[pl.Expr]:
            temp = df.lazy().select(pl.col(cols).abs().min() + epsilon).collect().row(0)
            return [pl.col(c).fill_null(m).name.suffix("_imputed2") for c, m in zip(cols, temp)]

        self._steps.append(
            FitStep(inner_func, cols, self.exclude)
        )
        return self

In [26]:
bp = ExtendedBlueprint(df, name = "example", target = "approved")

# Takes in a dict with 3 fields: `name`, `args`, and `kwargs`. 
# Args and kwargs are optional depending on whether the method call needs certain arguments.
step_dict_1 = {
    "name": "smallest_abs_impute",
    "kwargs": {"cols": ["Existing_EMI"], "epsilon": 0.01} 
}

step_dict_2 = {
    "name": "smallest_abs_impute2",
    "kwargs": {"cols": ["Existing_EMI"], "epsilon": 0.01} 
}

bp.append_step_from_dict(
    step_dict_1
).append_step_from_dict(
    step_dict_2
)

pipe = bp.materialize()
df_transformed = pipe.transform(df)

df_transformed.with_columns(
    impute_value = pl.col("Existing_EMI").abs().min() + 0.01
).filter(
    pl.col("Existing_EMI").is_null()
).select(
    pl.col("Existing_EMI"),
    pl.col("Existing_EMI_imputed"),
    pl.col("Existing_EMI_imputed2"),
    pl.col("impute_value")
)

shape: (51, 4)
┌──────────────┬──────────────────────┬───────────────────────┬──────────────┐
│ Existing_EMI ┆ Existing_EMI_imputed ┆ Existing_EMI_imputed2 ┆ impute_value │
│ ---          ┆ ---                  ┆ ---                   ┆ ---          │
│ f64          ┆ f64                  ┆ f64                   ┆ f64          │
╞══════════════╪══════════════════════╪═══════════════════════╪══════════════╡
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ …            ┆ …                    ┆ …                     ┆ …            │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
└──────────────┴──────────────────────┴───────────────────────┴──────────────┘

# Wrapping PDS Pipeline (blueprint) Inside a Sklearn Pipeline

It is not recommended, but it is possible. If there is a sklearn pipeline transform you want, and that is not implemented in PDS, please submit a feature request.

In [27]:
import polars_ds.pipeline as pm
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin

class CustomPDSTransformer(BaseEstimator, TransformerMixin):

    def __init__(self):
        self.pipe = None

    def fit(self, df, y=None):
        # specify all the rules for the transform here
        bp = (
            pm.Blueprint(df, name = "example", target = "approved", lowercase=True) 
            .filter( 
                "city_category is not null" # or equivalently, you can do: pl.col("city_category").is_not_null()
            )
            .select(cs.numeric() | cs.by_name(["gender", "employer_category1", "city_category"]))
            .linear_impute(features = ["var1", "existing_emi"], target = "loan_period") 
            .impute(["existing_emi"], method = "median")
        )
        self.pipe = bp.materialize()
        return self

    def transform(self, df, y=None):
        return self.pipe.transform(df)

# ---------------------------------------------------------------

df = pl.read_parquet("../examples/dependency.parquet")

pipe = Pipeline(
    steps=[
        ("CustomPDSTransformer", CustomPDSTransformer())    
    ]
)
df_transformed = pipe.fit_transform(df)
df_transformed

shape: (68_899, 12)
┌────────┬───────────────┬──────────────┬──────────────┬───┬──────────────┬──────┬──────┬──────────┐
│ gender ┆ city_category ┆ employer_cat ┆ employer_cat ┆ … ┆ interest_rat ┆ emi  ┆ var1 ┆ approved │
│ ---    ┆ ---           ┆ egory1       ┆ egory2       ┆   ┆ e            ┆ ---  ┆ ---  ┆ ---      │
│ str    ┆ str           ┆ ---          ┆ ---          ┆   ┆ ---          ┆ i64  ┆ i64  ┆ i64      │
│        ┆               ┆ str          ┆ i64          ┆   ┆ f64          ┆      ┆      ┆          │
╞════════╪═══════════════╪══════════════╪══════════════╪═══╪══════════════╪══════╪══════╪══════════╡
│ Female ┆ A             ┆ A            ┆ 4            ┆ … ┆ null         ┆ null ┆ 0    ┆ 0        │
│ Male   ┆ A             ┆ C            ┆ 1            ┆ … ┆ 13.25        ┆ 953  ┆ 10   ┆ 0        │
│ Male   ┆ C             ┆ C            ┆ 4            ┆ … ┆ null         ┆ null ┆ 0    ┆ 0        │
│ Male   ┆ C             ┆ A            ┆ 4            ┆ … ┆ null         ┆ null ┆ 7    ┆ 0        │
│ Male   ┆ A             ┆ A            ┆ 4            ┆ … ┆ null         ┆ null ┆ 10   ┆ 0        │
│ …      ┆ …             ┆ …            ┆ …            ┆ … ┆ …            ┆ …    ┆ …    ┆ …        │
│ Female ┆ A             ┆ A            ┆ 1            ┆ … ┆ null         ┆ null ┆ 10   ┆ 0        │
│ Female ┆ C             ┆ A            ┆ 4            ┆ … ┆ null         ┆ null ┆ 7    ┆ 0        │
│ Female ┆ B             ┆ C            ┆ 4            ┆ … ┆ 35.5         ┆ 943  ┆ 2    ┆ 0        │
│ Male   ┆ A             ┆ C            ┆ 3            ┆ … ┆ null         ┆ null ┆ 10   ┆ 0        │
│ Male   ┆ A             ┆ A            ┆ 1            ┆ … ┆ 13.99        ┆ 1885 ┆ 10   ┆ 0        │
└────────┴───────────────┴──────────────┴──────────────┴───┴──────────────┴──────┴──────┴──────────┘