In [1]:
import polars as pl
import polars.selectors as cs
from polars_ds.modeling import Pipeline, Blueprint

# Builtin Pipeline Functions

To run this demo: use the latest version of polars_ds. Or the latest commit if the latest version doesn't work.

Need v0.8 or above

In [2]:
df = pl.read_parquet("../examples/dependency.parquet")
df.head()

shape: (5, 22)
┌────────────────┬────────┬──────────┬────────────────┬───┬───────────────┬──────┬──────┬──────────┐
│ ID             ┆ Gender ┆ DOB      ┆ Lead_Creation_ ┆ … ┆ Interest_Rate ┆ EMI  ┆ Var1 ┆ Approved │
│ ---            ┆ ---    ┆ ---      ┆ Date           ┆   ┆ ---           ┆ ---  ┆ ---  ┆ ---      │
│ str            ┆ str    ┆ str      ┆ ---            ┆   ┆ f64           ┆ i64  ┆ i64  ┆ i64      │
│                ┆        ┆          ┆ str            ┆   ┆               ┆      ┆      ┆          │
╞════════════════╪════════╪══════════╪════════════════╪═══╪═══════════════╪══════╪══════╪══════════╡
│ APPC9049317122 ┆ Female ┆ 23/07/79 ┆ 15/07/16       ┆ … ┆ null          ┆ null ┆ 0    ┆ 0        │
│ 5              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPD4061126334 ┆ Male   ┆ 07/12/86 ┆ 04/07/16       ┆ … ┆ 13.25         ┆ 953  ┆ 10   ┆ 0        │
│ 4              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPE7028924942 ┆ Male   ┆ 10/12/82 ┆ 19/07/16       ┆ … ┆ null          ┆ null ┆ 0    ┆ 0        │
│ 3              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPF8027386553 ┆ Male   ┆ 30/01/89 ┆ 09/07/16       ┆ … ┆ null          ┆ null ┆ 7    ┆ 0        │
│ 7              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPG6099443664 ┆ Male   ┆ 19/04/85 ┆ 20/07/16       ┆ … ┆ null          ┆ null ┆ 10   ┆ 0        │
│ 1              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
└────────────────┴────────┴──────────┴────────────────┴───┴───────────────┴──────┴──────┴──────────┘

In [3]:
sql = """
select
*
, 'TEST' as test_col
from df
where loan_amount is not null
"""

In [4]:
# Create a blueprint first. 
# A blueprint is a plan for a pipeline. No hard work will be done until the blueprint is materialized, which
# is when the tranforms are fitted (e.g. scale learns the mean and std from base data)
# If target is specified for the blueprint, target will be excluded from all transformations that require a fit,
# and target will be auto-filled if the transformation requires a target field and when no target field is explicitly given.

bp = (
    Blueprint(df, name = "example", target = "approved", lowercase=True) # You can optionally put target of the ML model here
    # Select only the columns we need
    .sql_transform(sql) # Run a SQL transform on the df
    # Say you want to remove a population for your data pipeline.
    .filter( 
        "city_category is not null" # or equivalently, you can do: pl.col("city_category").is_not_null()
    )
    # explicitly put target, since this is not the target for prediction. 
    # Use a linear regression with x1 = var1, x2=existing_emi to predict missing values in loan_period
    .linear_impute(features = ["var1", "existing_emi"], target = "loan_period") 
    .impute(["existing_emi"], method = "median")
    .append_expr( # generate some features
        pl.col("existing_emi").log1p().alias("existing_emi_log1p"),
        pl.col("loan_amount").log1p().alias("loan_amount_log1p"),
        pl.col("loan_amount").clip(lower_bound = 0, upper_bound = 1000).alias("loan_amount_log1p_clipped"),
        pl.col("loan_amount").sqrt().alias("loan_amount_sqrt"),
        pl.col("loan_amount").shift(-1).alias("loan_amount_lag_1") # any kind of lag transform
    )
    .scale( # target is numerical, but will be excluded automatically because bp is initialzied with a target
        cs.numeric().exclude(["var1", "existing_emi_log1p"]), method = "standard"
    ) # Scale the columns up to this point. The columns below won't be scaled
    .append_expr(
        # Add missing flags
        pl.col("employer_category1").is_null().cast(pl.UInt8).alias("employer_category1_is_missing")
    )
    .one_hot_encode("gender", drop_first=True)
    .woe_encode("city_category") # No need to specify target because we initialized bp with a target
    .target_encode("employer_category1", min_samples_leaf = 20, smoothing = 10.0) # same as above
)

print(bp)

Blueprint name: example
Column names: Lowercase all incoming columns.Blueprint current steps: 11
Features Expected: ['id', 'gender', 'dob', 'lead_creation_date', 'city_code', 'city_category', 'employer_code', 'employer_category1', 'employer_category2', 'monthly_income', 'customer_existing_primary_bank_code', 'primary_bank_type', 'contacted', 'source', 'source_category', 'existing_emi', 'loan_amount', 'loan_period', 'interest_rate', 'emi', 'var1', 'approved']

In [5]:
# Materialize the blueprint
pipe:Pipeline = bp.materialize()
# Text representation of the pipeline
pipe

Naive Query Steps:

Step 1:
Run SQL:
select
*
, 'TEST' as test_col
from df
where loan_amount is not null



Step 2:
col("city_category").is_not_null()

Step 3:
.when(col("loan_period").is_null()).then([(col("var1")) * (dyn float: 0.50981)].sum_horizontal([[(col("existing_emi")) * (dyn float: -0.000008)]])).otherwise(col("loan_period").strict_cast(Float64)).alias("loan_period")

Step 4:
col("existing_emi").fill_null([dyn float: 0.0])

Step 5:
col("existing_emi").log1p().alias("existing_emi_log1p"),
col("loan_amount").log1p().alias("loan_amount_log1p"),
col("loan_amount").clip([dyn int: 0, dyn int: 1000]).alias("loan_amount_log1p_clipped"),
col("loan_amount").sqrt().alias("loan_amount_sqrt"),
col("loan_amount").shift([dyn int: -1]).alias("loan_amount_lag_1")

Step 6:
[([(col("employer_category2")) - (dyn float: 3.67927)]) / (dyn float: 0.862459)],
[([(col("monthly_income")) - (dyn float: 7463.79731)]) / (dyn float: 225051.544361)],
[([(col("existing_emi")) - (dyn float: 265.690248)]) / (dyn float: 2757.609254)],
[([(col("loan_amount")) - (dyn float: 39429.982859)]) / (dyn float: 30727.230218)],
[([(col("loan_period")) - (dyn float: 3.890629)]) / (dyn float: 1.167477)],
[([(col("interest_rate")) - (dyn float: 19.21357)]) / (dyn float: 5.847005)],
[([(col("emi")) - (dyn float: 1101.466242)]) / (dyn float: 752.6445)],
[([(col("loan_amount_log1p")) - (dyn float: 10.326665)]) / (dyn float: 0.721931)],
[([(col("loan_amount_log1p_clipped")) - (dyn float: 1000.0)]) / (dyn float: 0.0)],
[([(col("loan_amount_sqrt")) - (dyn float: 186.421961)]) / (dyn float: 68.387392)],
[([(col("loan_amount_lag_1")) - (dyn float: 39430.445444)]) / (dyn float: 30727.449733)]

Step 7:
col("employer_category1").is_null().strict_cast(UInt8).alias("employer_category1_is_missing")

Step 8:
[(col("gender")) ==v (String(Male))].strict_cast(UInt8).alias("gender_Male")

Step 9:
*.exclude([Name("gender")])

Step 10:
col("city_category").replace_strict([Series[value], Series[woe], null])

Step 11:
col("employer_category1").replace_strict([Series[value], Series[to], null])

In [6]:
# If you want separation between features (X) and target (y)
# you can run the following:
# df_x, df_y = pipe.transform(df, separate=True)

df_transformed = pipe.transform(df)
df_transformed.head()

shape: (5, 29)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ id        ┆ dob      ┆ lead_crea ┆ city_code ┆ … ┆ loan_amou ┆ loan_amou ┆ employer_ ┆ gender_Ma │
│ ---       ┆ ---      ┆ tion_date ┆ ---       ┆   ┆ nt_sqrt   ┆ nt_lag_1  ┆ category1 ┆ le        │
│ str       ┆ str      ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ _is_missi ┆ ---       │
│           ┆          ┆ str       ┆           ┆   ┆ f64       ┆ f64       ┆ ng        ┆ u8        │
│           ┆          ┆           ┆           ┆   ┆           ┆           ┆ ---       ┆           │
│           ┆          ┆           ┆           ┆   ┆           ┆           ┆ u8        ┆           │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ APPD40611 ┆ 07/12/86 ┆ 04/07/16  ┆ C10003    ┆ … ┆ -0.658025 ┆ 0.181257  ┆ 0         ┆ 1         │
│ 263344    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPE70289 ┆ 10/12/82 ┆ 19/07/16  ┆ C10125    ┆ … ┆ 0.375948  ┆ 1.710834  ┆ 0         ┆ 1         │
│ 249423    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPF80273 ┆ 30/01/89 ┆ 09/07/16  ┆ C10477    ┆ … ┆ 1.709278  ┆ 0.343978  ┆ 0         ┆ 1         │
│ 865537    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPG60994 ┆ 19/04/85 ┆ 20/07/16  ┆ C10002    ┆ … ┆ 0.543738  ┆ 2.947513  ┆ 0         ┆ 1         │
│ 436641    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPK80327 ┆ 28/03/73 ┆ 02/07/16  ┆ C10022    ┆ … ┆ 2.546276  ┆ -0.306906 ┆ 0         ┆ 1         │
│ 232033    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [7]:
# Empty. Because we filtered this to not null.
df_transformed.filter(
    pl.col("city_category").is_null()
)

shape: (0, 29)
┌─────┬─────┬──────────────┬───────────┬───┬─────────────┬─────────────┬─────────────┬─────────────┐
│ id  ┆ dob ┆ lead_creatio ┆ city_code ┆ … ┆ loan_amount ┆ loan_amount ┆ employer_ca ┆ gender_Male │
│ --- ┆ --- ┆ n_date       ┆ ---       ┆   ┆ _sqrt       ┆ _lag_1      ┆ tegory1_is_ ┆ ---         │
│ str ┆ str ┆ ---          ┆ str       ┆   ┆ ---         ┆ ---         ┆ missing     ┆ u8          │
│     ┆     ┆ str          ┆           ┆   ┆ f64         ┆ f64         ┆ ---         ┆             │
│     ┆     ┆              ┆           ┆   ┆             ┆             ┆ u8          ┆             │
╞═════╪═════╪══════════════╪═══════════╪═══╪═════════════╪═════════════╪═════════════╪═════════════╡
└─────┴─────┴──────────────┴───────────┴───┴─────────────┴─────────────┴─────────────┴─────────────┘

In [8]:
# Empty. Because we filtered this to not null in the SQL
df_transformed.filter(
    pl.col("loan_amount").is_null()
)

shape: (0, 29)
┌─────┬─────┬──────────────┬───────────┬───┬─────────────┬─────────────┬─────────────┬─────────────┐
│ id  ┆ dob ┆ lead_creatio ┆ city_code ┆ … ┆ loan_amount ┆ loan_amount ┆ employer_ca ┆ gender_Male │
│ --- ┆ --- ┆ n_date       ┆ ---       ┆   ┆ _sqrt       ┆ _lag_1      ┆ tegory1_is_ ┆ ---         │
│ str ┆ str ┆ ---          ┆ str       ┆   ┆ ---         ┆ ---         ┆ missing     ┆ u8          │
│     ┆     ┆ str          ┆           ┆   ┆ f64         ┆ f64         ┆ ---         ┆             │
│     ┆     ┆              ┆           ┆   ┆             ┆             ┆ u8          ┆             │
╞═════╪═════╪══════════════╪═══════════╪═══╪═════════════╪═════════════╪═════════════╪═════════════╡
└─────┴─────┴──────────────┴───────────┴───┴─────────────┴─────────────┴─────────────┴─────────────┘

# Serialization Methods

Pickle + JSON support.

In [9]:
import pickle
# The pipe object can be pickled
with open("pipe.pickle", "wb") as f:
    pickle.dump(pipe, f)

In [10]:
with open("pipe.pickle", "rb") as f:
    pipe2 = pickle.load(f)

pipe2

Naive Query Steps:

Step 1:
Run SQL:
select
*
, 'TEST' as test_col
from df
where loan_amount is not null



Step 2:
col("city_category").is_not_null()

Step 3:
.when(col("loan_period").is_null()).then([(col("var1")) * (dyn float: 0.50981)].sum_horizontal([[(col("existing_emi")) * (dyn float: -0.000008)]])).otherwise(col("loan_period").strict_cast(Float64)).alias("loan_period")

Step 4:
col("existing_emi").fill_null([dyn float: 0.0])

Step 5:
col("existing_emi").log1p().alias("existing_emi_log1p"),
col("loan_amount").log1p().alias("loan_amount_log1p"),
col("loan_amount").clip([dyn int: 0, dyn int: 1000]).alias("loan_amount_log1p_clipped"),
col("loan_amount").sqrt().alias("loan_amount_sqrt"),
col("loan_amount").shift([dyn int: -1]).alias("loan_amount_lag_1")

Step 6:
[([(col("employer_category2")) - (dyn float: 3.67927)]) / (dyn float: 0.862459)],
[([(col("monthly_income")) - (dyn float: 7463.79731)]) / (dyn float: 225051.544361)],
[([(col("existing_emi")) - (dyn float: 265.690248)]) / (dyn float: 2757.609254)],
[([(col("loan_amount")) - (dyn float: 39429.982859)]) / (dyn float: 30727.230218)],
[([(col("loan_period")) - (dyn float: 3.890629)]) / (dyn float: 1.167477)],
[([(col("interest_rate")) - (dyn float: 19.21357)]) / (dyn float: 5.847005)],
[([(col("emi")) - (dyn float: 1101.466242)]) / (dyn float: 752.6445)],
[([(col("loan_amount_log1p")) - (dyn float: 10.326665)]) / (dyn float: 0.721931)],
[([(col("loan_amount_log1p_clipped")) - (dyn float: 1000.0)]) / (dyn float: 0.0)],
[([(col("loan_amount_sqrt")) - (dyn float: 186.421961)]) / (dyn float: 68.387392)],
[([(col("loan_amount_lag_1")) - (dyn float: 39430.445444)]) / (dyn float: 30727.449733)]

Step 7:
col("employer_category1").is_null().strict_cast(UInt8).alias("employer_category1_is_missing")

Step 8:
[(col("gender")) ==v (String(Male))].strict_cast(UInt8).alias("gender_Male")

Step 9:
*.exclude([Name("gender")])

Step 10:
col("city_category").replace_strict([Series[value], Series[woe], null])

Step 11:
col("employer_category1").replace_strict([Series[value], Series[to], null])

In [11]:
df_transformed_2 = pipe2.transform(df)
df_transformed_2

shape: (42_004, 29)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ id        ┆ dob      ┆ lead_crea ┆ city_code ┆ … ┆ loan_amou ┆ loan_amou ┆ employer_ ┆ gender_Ma │
│ ---       ┆ ---      ┆ tion_date ┆ ---       ┆   ┆ nt_sqrt   ┆ nt_lag_1  ┆ category1 ┆ le        │
│ str       ┆ str      ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ _is_missi ┆ ---       │
│           ┆          ┆ str       ┆           ┆   ┆ f64       ┆ f64       ┆ ng        ┆ u8        │
│           ┆          ┆           ┆           ┆   ┆           ┆           ┆ ---       ┆           │
│           ┆          ┆           ┆           ┆   ┆           ┆           ┆ u8        ┆           │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ APPD40611 ┆ 07/12/86 ┆ 04/07/16  ┆ C10003    ┆ … ┆ -0.658025 ┆ 0.181257  ┆ 0         ┆ 1         │
│ 263344    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPE70289 ┆ 10/12/82 ┆ 19/07/16  ┆ C10125    ┆ … ┆ 0.375948  ┆ 1.710834  ┆ 0         ┆ 1         │
│ 249423    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPF80273 ┆ 30/01/89 ┆ 09/07/16  ┆ C10477    ┆ … ┆ 1.709278  ┆ 0.343978  ┆ 0         ┆ 1         │
│ 865537    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPG60994 ┆ 19/04/85 ┆ 20/07/16  ┆ C10002    ┆ … ┆ 0.543738  ┆ 2.947513  ┆ 0         ┆ 1         │
│ 436641    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPK80327 ┆ 28/03/73 ┆ 02/07/16  ┆ C10022    ┆ … ┆ 2.546276  ┆ -0.306906 ┆ 0         ┆ 1         │
│ 232033    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ …         ┆ …        ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ APPS20215 ┆ 04/03/86 ┆ 30/09/16  ┆ C10002    ┆ … ┆ -0.193265 ┆ -0.306906 ┆ 0         ┆ 1         │
│ 136404    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPT50870 ┆ 03/03/91 ┆ 30/09/16  ┆ C10041    ┆ … ┆ -0.193265 ┆ -0.502171 ┆ 0         ┆ 1         │
│ 248519    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPW50697 ┆ 01/02/92 ┆ 30/09/16  ┆ C10022    ┆ … ┆ -0.46065  ┆ 1.320303  ┆ 0         ┆ 0         │
│ 209842    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPY50870 ┆ 27/06/78 ┆ 30/09/16  ┆ C10002    ┆ … ┆ 1.40992   ┆ 0.962317  ┆ 0         ┆ 1         │
│ 035036    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ APPZ60733 ┆ 31/12/89 ┆ 30/09/16  ┆ C10003    ┆ … ┆ 1.115067  ┆ null      ┆ 0         ┆ 1         │
│ 046119    ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [12]:
from polars.testing import assert_frame_equal
# True
assert_frame_equal(df_transformed, df_transformed_2)

In [13]:
pipe.to_dict()

{'name': 'example',
 'target': 'approved',
 'feature_names_in_': ['id',
  'gender',
  'dob',
  'lead_creation_date',
  'city_code',
  'city_category',
  'employer_code',
  'employer_category1',
  'employer_category2',
  'monthly_income',
  'customer_existing_primary_bank_code',
  'primary_bank_type',
  'contacted',
  'source',
  'source_category',
  'existing_emi',
  'loan_amount',
  'loan_period',
  'interest_rate',
  'emi',
  'var1',
  'approved'],
 'feature_names_out_': ['id',
  'dob',
  'lead_creation_date',
  'city_code',
  'city_category',
  'employer_code',
  'employer_category1',
  'employer_category2',
  'monthly_income',
  'customer_existing_primary_bank_code',
  'primary_bank_type',
  'contacted',
  'source',
  'source_category',
  'existing_emi',
  'loan_amount',
  'loan_period',
  'interest_rate',
  'emi',
  'var1',
  'approved',
  'test_col',
  'existing_emi_log1p',
  'loan_amount_log1p',
  'loan_amount_log1p_clipped',
  'loan_amount_sqrt',
  'loan_amount_lag_1',
  'employer_category1_is_missing',
  'gender_Male'],
 'transforms': [{'context': 'sql',
   'action': "\nselect\n*\n, 'TEST' as test_col\nfrom df\nwhere loan_amount is not null\n"},
  {'context': 'filter',
   'action': '{"Function":{"input":[{"Column":"city_category"}],"function":{"Boolean":"IsNotNull"},"options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}}'},
  {'context': 'with_columns',
   'action': ['{"Alias":[{"Ternary":{"predicate":{"Function":{"input":[{"Column":"loan_period"}],"function":{"Boolean":"IsNull"},"options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}},"truthy":{"Function":{"input":[{"BinaryExpr":{"left":{"Column":"var1"},"op":"Multiply","right":{"Literal":{"Float":0.5098100117596667}}}},{"BinaryExpr":{"left":{"Column":"existing_emi"},"op":"Multiply","right":{"Literal":{"Float":-7.6040796537530525e-6}}}}],"function":{"SumHorizontal":{"ignore_nulls":true}},"options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE | INPUT_WILDCARD_EXPANSION"}}},"falsy":{"Cast":{"expr":{"Column":"loan_period"},"dtype":"Float64","options":"Strict"}}}},"loan_period"]}']},
  {'context': 'with_columns',
   'action': ['{"Function":{"input":[{"Column":"existing_emi"},{"Literal":{"Float":0.0}}],"function":"FillNull","options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}}']},
  {'context': 'with_columns',
   'action': ['{"Alias":[{"Function":{"input":[{"Column":"existing_emi"}],"function":"Log1p","options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}},"existing_emi_log1p"]}',
    '{"Alias":[{"Function":{"input":[{"Column":"loan_amount"}],"function":"Log1p","options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}},"loan_amount_log1p"]}',
    '{"Alias":[{"Function":{"input":[{"Column":"loan_amount"},{"Literal":{"Int":0}},{"Literal":{"Int":1000}}],"function":{"Clip":{"has_min":true,"has_max":true}},"options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}},"loan_amount_log1p_clipped"]}',
    '{"Alias":[{"Function":{"input":[{"Column":"loan_amount"}],"function":{"Pow":"Sqrt"},"options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}},"loan_amount_sqrt"]}',
    '{"Alias":[{"Function":{"input":[{"Column":"loan_amount"},{"Literal":{"Int":-1}}],"function":"Shift","options":{"collect_groups":"GroupWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}},"loan_amount_lag_1"]}']},
  {'context': 'with_columns',
   'action': ['{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"employer_category2"},"op":"Minus","right":{"Literal":{"Float":3.679269695227142}}}},"op":"TrueDivide","right":{"Literal":{"Float":0.862458786067542}}}}',
    '{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"monthly_income"},"op":"Minus","right":{"Literal":{"Float":7463.797309780022}}}},"op":"TrueDivide","right":{"Literal":{"Float":225051.54436104206}}}}',
    '{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"existing_emi"},"op":"Minus","right":{"Literal":{"Float":265.6902475240454}}}},"op":"TrueDivide","right":{"Literal":{"Float":2757.6092535058183}}}}',
    '{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"loan_amount"},"op":"Minus","right":{"Literal":{"Float":39429.98285877536}}}},"op":"TrueDivide","right":{"Literal":{"Float":30727.23021813224}}}}',
    '{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"loan_period"},"op":"Minus","right":{"Literal":{"Float":3.8906294638605847}}}},"op":"TrueDivide","right":{"Literal":{"Float":1.1674769269411276}}}}',
    '{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"interest_rate"},"op":"Minus","right":{"Literal":{"Float":19.213569761177947}}}},"op":"TrueDivide","right":{"Literal":{"Float":5.8470045315482775}}}}',
    '{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"emi"},"op":"Minus","right":{"Literal":{"Float":1101.4662416950978}}}},"op":"TrueDivide","right":{"Literal":{"Float":752.6444995250869}}}}',
    '{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"loan_amount_log1p"},"op":"Minus","right":{"Literal":{"Float":10.326664500589036}}}},"op":"TrueDivide","right":{"Literal":{"Float":0.7219306388560954}}}}',
    '{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"loan_amount_log1p_clipped"},"op":"Minus","right":{"Literal":{"Float":1000.0}}}},"op":"TrueDivide","right":{"Literal":{"Float":0.0}}}}',
    '{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"loan_amount_sqrt"},"op":"Minus","right":{"Literal":{"Float":186.4219606393428}}}},"op":"TrueDivide","right":{"Literal":{"Float":68.38739247959866}}}}',
    '{"BinaryExpr":{"left":{"BinaryExpr":{"left":{"Column":"loan_amount_lag_1"},"op":"Minus","right":{"Literal":{"Float":39430.44544437302}}}},"op":"TrueDivide","right":{"Literal":{"Float":30727.449732966947}}}}']},
  {'context': 'with_columns',
   'action': ['{"Alias":[{"Cast":{"expr":{"Function":{"input":[{"Column":"employer_category1"}],"function":{"Boolean":"IsNull"},"options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}},"dtype":"UInt8","options":"Strict"}},"employer_category1_is_missing"]}']},
  {'context': 'with_columns',
   'action': ['{"Alias":[{"Cast":{"expr":{"BinaryExpr":{"left":{"Column":"gender"},"op":"EqValidity","right":{"Literal":{"String":"Male"}}}},"dtype":"UInt8","options":"Strict"}},"gender_Male"]}']},
  {'context': 'select',
   'action': ['{"Exclude":["Wildcard",[{"Name":"gender"}]]}']},
  {'context': 'with_columns',
   'action': ['{"Function":{"input":[{"Column":"city_category"},{"Literal":{"Series":[255,255,255,255,176,0,0,0,4,0,0,0,242,255,255,255,20,0,0,0,4,0,1,0,0,0,10,0,11,0,8,0,10,0,4,0,242,255,255,255,72,0,0,0,16,0,0,0,0,0,10,0,12,0,0,0,4,0,8,0,1,0,0,0,4,0,0,0,244,255,255,255,24,0,0,0,12,0,0,0,8,0,12,0,4,0,8,0,1,0,0,0,48,0,0,0,9,0,0,0,95,80,76,95,70,76,65,71,83,0,0,0,1,0,0,0,4,0,0,0,236,255,255,255,44,0,0,0,32,0,0,0,24,0,0,0,1,24,0,0,16,0,18,0,4,0,16,0,17,0,8,0,0,0,12,0,0,0,0,0,252,255,255,255,4,0,4,0,5,0,0,0,118,97,108,117,101,0,0,0,0,0,0,0,255,255,255,255,168,0,0,0,4,0,0,0,236,255,255,255,64,0,0,0,0,0,0,0,20,0,0,0,4,0,3,0,12,0,19,0,16,0,18,0,12,0,4,0,226,255,255,255,3,0,0,0,0,0,0,0,96,0,0,0,52,0,0,0,36,0,0,0,20,0,0,0,0,0,14,0,28,0,4,0,12,0,16,0,20,0,24,0,1,0,0,0,0,0,0,0,0,0,0,0,250,255,255,255,1,0,6,0,5,0,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,42,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,48,0,0,0,0,0,0,0,40,181,47,253,0,88,205,0,0,144,1,0,0,0,67,0,1,0,0,0,65,0,1,0,0,0,66,0,3,84,6,0,7,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,255,255,255,255,0,0,0,0]}},{"Literal":{"Series":[255,255,255,255,176,0,0,0,4,0,0,0,242,255,255,255,20,0,0,0,4,0,1,0,0,0,10,0,11,0,8,0,10,0,4,0,242,255,255,255,72,0,0,0,16,0,0,0,0,0,10,0,12,0,0,0,4,0,8,0,1,0,0,0,4,0,0,0,244,255,255,255,24,0,0,0,12,0,0,0,8,0,12,0,4,0,8,0,1,0,0,0,48,0,0,0,9,0,0,0,95,80,76,95,70,76,65,71,83,0,0,0,1,0,0,0,4,0,0,0,236,255,255,255,48,0,0,0,32,0,0,0,24,0,0,0,1,3,0,0,16,0,18,0,4,0,16,0,17,0,8,0,0,0,12,0,0,0,0,0,250,255,255,255,2,0,6,0,6,0,4,0,3,0,0,0,119,111,101,0,0,0,0,0,255,255,255,255,152,0,0,0,4,0,0,0,236,255,255,255,64,0,0,0,0,0,0,0,20,0,0,0,4,0,3,0,12,0,19,0,16,0,18,0,12,0,4,0,228,255,255,255,3,0,0,0,0,0,0,0,80,0,0,0,36,0,0,0,20,0,0,0,0,0,0,0,12,0,24,0,4,0,12,0,16,0,20,0,250,255,255,255,1,0,6,0,5,0,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,41,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,0,0,0,0,0,0,0,40,181,47,253,0,88,193,0,0,214,151,16,95,254,176,222,191,39,178,234,56,180,185,180,63,158,64,201,195,152,203,167,191,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,255,255,255,255,0,0,0,0]}},{"Literal":"Null"}],"function":{"ReplaceStrict":{"return_dtype":null}},"options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}}']},
  {'context': 'with_columns',
   'action': ['{"Function":{"input":[{"Column":"employer_category1"},{"Literal":{"Series":[255,255,255,255,176,0,0,0,4,0,0,0,242,255,255,255,20,0,0,0,4,0,1,0,0,0,10,0,11,0,8,0,10,0,4,0,242,255,255,255,72,0,0,0,16,0,0,0,0,0,10,0,12,0,0,0,4,0,8,0,1,0,0,0,4,0,0,0,244,255,255,255,24,0,0,0,12,0,0,0,8,0,12,0,4,0,8,0,1,0,0,0,48,0,0,0,9,0,0,0,95,80,76,95,70,76,65,71,83,0,0,0,1,0,0,0,4,0,0,0,236,255,255,255,44,0,0,0,32,0,0,0,24,0,0,0,1,24,0,0,16,0,18,0,4,0,16,0,17,0,8,0,0,0,12,0,0,0,0,0,252,255,255,255,4,0,4,0,5,0,0,0,118,97,108,117,101,0,0,0,0,0,0,0,255,255,255,255,168,0,0,0,4,0,0,0,236,255,255,255,64,0,0,0,0,0,0,0,20,0,0,0,4,0,3,0,12,0,19,0,16,0,18,0,12,0,4,0,226,255,255,255,3,0,0,0,0,0,0,0,96,0,0,0,52,0,0,0,36,0,0,0,20,0,0,0,0,0,14,0,28,0,4,0,12,0,16,0,20,0,24,0,1,0,0,0,0,0,0,0,0,0,0,0,250,255,255,255,1,0,6,0,5,0,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,42,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,48,0,0,0,0,0,0,0,40,181,47,253,0,88,205,0,0,144,1,0,0,0,66,0,1,0,0,0,67,0,1,0,0,0,65,0,3,84,6,0,7,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,255,255,255,255,0,0,0,0]}},{"Literal":{"Series":[255,255,255,255,176,0,0,0,4,0,0,0,242,255,255,255,20,0,0,0,4,0,1,0,0,0,10,0,11,0,8,0,10,0,4,0,242,255,255,255,72,0,0,0,16,0,0,0,0,0,10,0,12,0,0,0,4,0,8,0,1,0,0,0,4,0,0,0,244,255,255,255,24,0,0,0,12,0,0,0,8,0,12,0,4,0,8,0,1,0,0,0,48,0,0,0,9,0,0,0,95,80,76,95,70,76,65,71,83,0,0,0,1,0,0,0,4,0,0,0,236,255,255,255,48,0,0,0,32,0,0,0,24,0,0,0,1,3,0,0,16,0,18,0,4,0,16,0,17,0,8,0,0,0,12,0,0,0,0,0,250,255,255,255,2,0,6,0,6,0,4,0,2,0,0,0,116,111,0,0,0,0,0,0,255,255,255,255,152,0,0,0,4,0,0,0,236,255,255,255,64,0,0,0,0,0,0,0,20,0,0,0,4,0,3,0,12,0,19,0,16,0,18,0,12,0,4,0,228,255,255,255,3,0,0,0,0,0,0,0,80,0,0,0,36,0,0,0,20,0,0,0,0,0,0,0,12,0,24,0,4,0,12,0,16,0,20,0,250,255,255,255,1,0,6,0,5,0,4,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,41,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,0,0,0,0,0,0,0,40,181,47,253,0,88,193,0,0,212,255,32,254,106,235,152,63,131,89,103,13,214,61,155,63,127,124,27,119,89,46,142,63,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,255,255,255,255,0,0,0,0]}},{"Literal":"Null"}],"function":{"ReplaceStrict":{"return_dtype":null}},"options":{"collect_groups":"ElementWise","check_lengths":true,"flags":"ALLOW_GROUP_AWARE"}}}']}],
 'ensure_features_in': False,
 'ensure_features_out': True,
 'lowercase': True,
 'uppercase': False}

In [14]:
# To save the pipeline as JSON

pipe.to_json("test.json")
pipe3 = Pipeline.from_json("test.json")
# True
assert_frame_equal(df_transformed, pipe3.transform(df))

# Custom Tranformations in Pipeline

Need version >= v0.4.6 (Not released yet)

In [15]:
df = pl.read_parquet("../examples/dependency.parquet")
df.head()

shape: (5, 22)
┌────────────────┬────────┬──────────┬────────────────┬───┬───────────────┬──────┬──────┬──────────┐
│ ID             ┆ Gender ┆ DOB      ┆ Lead_Creation_ ┆ … ┆ Interest_Rate ┆ EMI  ┆ Var1 ┆ Approved │
│ ---            ┆ ---    ┆ ---      ┆ Date           ┆   ┆ ---           ┆ ---  ┆ ---  ┆ ---      │
│ str            ┆ str    ┆ str      ┆ ---            ┆   ┆ f64           ┆ i64  ┆ i64  ┆ i64      │
│                ┆        ┆          ┆ str            ┆   ┆               ┆      ┆      ┆          │
╞════════════════╪════════╪══════════╪════════════════╪═══╪═══════════════╪══════╪══════╪══════════╡
│ APPC9049317122 ┆ Female ┆ 23/07/79 ┆ 15/07/16       ┆ … ┆ null          ┆ null ┆ 0    ┆ 0        │
│ 5              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPD4061126334 ┆ Male   ┆ 07/12/86 ┆ 04/07/16       ┆ … ┆ 13.25         ┆ 953  ┆ 10   ┆ 0        │
│ 4              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPE7028924942 ┆ Male   ┆ 10/12/82 ┆ 19/07/16       ┆ … ┆ null          ┆ null ┆ 0    ┆ 0        │
│ 3              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPF8027386553 ┆ Male   ┆ 30/01/89 ┆ 09/07/16       ┆ … ┆ null          ┆ null ┆ 7    ┆ 0        │
│ 7              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
│ APPG6099443664 ┆ Male   ┆ 19/04/85 ┆ 20/07/16       ┆ … ┆ null          ┆ null ┆ 10   ┆ 0        │
│ 1              ┆        ┆          ┆                ┆   ┆               ┆      ┆      ┆          │
└────────────────┴────────┴──────────┴────────────────┴───┴───────────────┴──────┴──────┴──────────┘

In [16]:
from typing import Union, List

# Any custom function must satistfy the following function signature:
# func(df:Union[pl.DataFrame, pl.LazyFrame], cols: List[str], ...) -> List[pl.Expr]
# where ... means kwargs
# Here is a custom imputer

def smallest_abs_impute(df:Union[pl.DataFrame, pl.LazyFrame], cols: List[str], epsilon:float = 0.01) -> List[pl.Expr]:
    """
    Imputes columns by the min of the absolute values for c in columns, plus epsilon.
    """
    temp = df.lazy().select(pl.col(cols).abs().min() + epsilon).collect().row(0)
    return [pl.col(c).fill_null(m) for c, m in zip(cols, temp)]

In [17]:
bp = (
    Blueprint(df, name = "example", target = "approved", lowercase=True)
    .append_fit_func(smallest_abs_impute, ["var1", "existing_emi", "loan_amount"], epsilon = 0.5)
    # Use append_fit_func for custom transforms
)
# Notice that the value to impute is correct, it is 0.5, because the min abs of the columns are 0.
pipe:Pipeline = bp.materialize()
pipe

Naive Query Steps:

Step 1:
col("var1").fill_null([dyn float: 0.5]),
col("existing_emi").fill_null([dyn float: 0.5]),
col("loan_amount").fill_null([dyn float: 5000.5])

In [18]:
pipe.transform(df).null_count().select(["var1", "existing_emi", "loan_amount"])

shape: (1, 3)
┌──────┬──────────────┬─────────────┐
│ var1 ┆ existing_emi ┆ loan_amount │
│ ---  ┆ ---          ┆ ---         │
│ u32  ┆ u32          ┆ u32         │
╞══════╪══════════════╪═════════════╡
│ 0    ┆ 0            ┆ 0           │
└──────┴──────────────┴─────────────┘

# Scriptable Steps in Pipeline

What is a scriptable step? It means we can encode steps in a json or yaml file easily. As long as we can turn the text into 
a valid Python dictionary, the step (the transformation) can be defined.

In [19]:
df.select(
    pl.col("Existing_EMI").null_count() 
)

shape: (1, 1)
┌──────────────┐
│ Existing_EMI │
│ ---          │
│ u32          │
╞══════════════╡
│ 51           │
└──────────────┘

In [20]:
bp = Blueprint(df, name = "example", target = "approved")

# Takes in a dict with 3 fields: `name`, `args`, and `kwargs`. 
# Args and kwargs are optional depending on whether the method call needs certain arguments.
step_dict_1 = {
    "name": "impute",
    "kwargs": {"cols": ["Existing_EMI"], "method": "median"} 
}

step_dict_2 = {
    "name": "does_not_exist",
    "kwargs": {"test": 1} 
}

# filter_step = {
#     "name": "filter",
#     "args": ["Employer_Category1 is not null"]
# }

bp.append_step_from_dict(
    step_dict_1
)

# .append_step_from_dict(
#     filter_step
# )

# bp.append_step_from_dict(step_dict_2) # Will error
pipe = bp.materialize()
# 
df_transformed = pipe.transform(df)
df_transformed.select(
    pl.col("Existing_EMI").null_count() # Imputed. So 0
)

shape: (1, 1)
┌──────────────┐
│ Existing_EMI │
│ ---          │
│ u32          │
╞══════════════╡
│ 0            │
└──────────────┘

# Custom Transforms as a Scriptable Step in Pipeline

You need to inherit the blueprint class. Once the blueprint is materialized (learned). You do not need this class any more, because the "learned" info should all be encoded as Polars expressions

In [21]:
from polars_ds.modeling import Blueprint, FitStep
from typing import Union, List
from typing_extensions import Self
from functools import partial

def smallest_abs_impute(df:Union[pl.DataFrame, pl.LazyFrame], cols: List[str], epsilon:float = 0.01) -> List[pl.Expr]:
    """
    Imputes columns by the min of the absolute values for c in columns, plus epsilon.
    """
    temp = df.lazy().select(pl.col(cols).abs().min() + epsilon).collect().row(0)
    return [pl.col(c).fill_null(m).name.suffix("_imputed") for c, m in zip(cols, temp)]

class ExtendedBlueprint(Blueprint):

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)

    def smallest_abs_impute(self, cols: List[str], epsilon:float = 0.01) -> Self:
        # bind all arguments, except df and cols.
        # If you don't want to use partial from functool, you can define an inner function
        partial_func = partial(smallest_abs_impute, epsilon=epsilon)
        self._steps.append(
            FitStep(partial_func, cols, self.exclude)
        )
        return self

    def smallest_abs_impute2(self, cols: List[str], epsilon:float = 0.01) -> Self:
        # bind all arguments, except df and cols.
        # Example of using an inner function
        def inner_func(df:Union[pl.DataFrame, pl.LazyFrame], cols: List[str]) -> List[pl.Expr]:
            temp = df.lazy().select(pl.col(cols).abs().min() + epsilon).collect().row(0)
            return [pl.col(c).fill_null(m).name.suffix("_imputed2") for c, m in zip(cols, temp)]

        self._steps.append(
            FitStep(inner_func, cols, self.exclude)
        )
        return self

In [22]:
bp = ExtendedBlueprint(df, name = "example", target = "approved")

# Takes in a dict with 3 fields: `name`, `args`, and `kwargs`. 
# Args and kwargs are optional depending on whether the method call needs certain arguments.
step_dict_1 = {
    "name": "smallest_abs_impute",
    "kwargs": {"cols": ["Existing_EMI"], "epsilon": 0.01} 
}

step_dict_2 = {
    "name": "smallest_abs_impute2",
    "kwargs": {"cols": ["Existing_EMI"], "epsilon": 0.01} 
}

bp.append_step_from_dict(
    step_dict_1
).append_step_from_dict(
    step_dict_2
)

pipe = bp.materialize()
df_transformed = pipe.transform(df)

df_transformed.with_columns(
    impute_value = pl.col("Existing_EMI").abs().min() + 0.01
).filter(
    pl.col("Existing_EMI").is_null()
).select(
    pl.col("Existing_EMI"),
    pl.col("Existing_EMI_imputed"),
    pl.col("Existing_EMI_imputed2"),
    pl.col("impute_value")
)

shape: (51, 4)
┌──────────────┬──────────────────────┬───────────────────────┬──────────────┐
│ Existing_EMI ┆ Existing_EMI_imputed ┆ Existing_EMI_imputed2 ┆ impute_value │
│ ---          ┆ ---                  ┆ ---                   ┆ ---          │
│ f64          ┆ f64                  ┆ f64                   ┆ f64          │
╞══════════════╪══════════════════════╪═══════════════════════╪══════════════╡
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ …            ┆ …                    ┆ …                     ┆ …            │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
│ null         ┆ 0.01                 ┆ 0.01                  ┆ 0.01         │
└──────────────┴──────────────────────┴───────────────────────┴──────────────┘

# Wrapping PDS Pipeline (blueprint) Inside a Sklearn Pipeline

It is not recommended, but it is possible. If there is a sklearn pipeline transform you want, and that is not implemented in PDS, please submit a feature request.

In [23]:
import polars_ds.modeling as pm
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin

class CustomPDSTransformer(BaseEstimator, TransformerMixin):

    def __init__(self):
        self.pipe = None

    def fit(self, df, y=None):
        # specify all the rules for the transform here
        bp = (
            pm.Blueprint(df, name = "example", target = "approved", lowercase=True) 
            .filter( 
                "city_category is not null" # or equivalently, you can do: pl.col("city_category").is_not_null()
            )
            .select(cs.numeric() | cs.by_name(["gender", "employer_category1", "city_category", "test_col"]))
            .linear_impute(features = ["var1", "existing_emi"], target = "loan_period") 
            .impute(["existing_emi"], method = "median")
        )
        self.pipe = bp.materialize()
        return self

    def transform(self, df, y=None):
        return self.pipe.transform(df)

# ---------------------------------------------------------------

df = pl.read_parquet("../examples/dependency.parquet")

pipe = Pipeline(
    steps=[
        ("CustomPDSTransformer", CustomPDSTransformer())    
    ]
)
df_transformed = pipe.fit_transform(df)
df_transformed

shape: (68_899, 12)
┌────────┬───────────────┬──────────────┬──────────────┬───┬──────────────┬──────┬──────┬──────────┐
│ gender ┆ city_category ┆ employer_cat ┆ employer_cat ┆ … ┆ interest_rat ┆ emi  ┆ var1 ┆ approved │
│ ---    ┆ ---           ┆ egory1       ┆ egory2       ┆   ┆ e            ┆ ---  ┆ ---  ┆ ---      │
│ str    ┆ str           ┆ ---          ┆ ---          ┆   ┆ ---          ┆ i64  ┆ i64  ┆ i64      │
│        ┆               ┆ str          ┆ i64          ┆   ┆ f64          ┆      ┆      ┆          │
╞════════╪═══════════════╪══════════════╪══════════════╪═══╪══════════════╪══════╪══════╪══════════╡
│ Female ┆ A             ┆ A            ┆ 4            ┆ … ┆ null         ┆ null ┆ 0    ┆ 0        │
│ Male   ┆ A             ┆ C            ┆ 1            ┆ … ┆ 13.25        ┆ 953  ┆ 10   ┆ 0        │
│ Male   ┆ C             ┆ C            ┆ 4            ┆ … ┆ null         ┆ null ┆ 0    ┆ 0        │
│ Male   ┆ C             ┆ A            ┆ 4            ┆ … ┆ null         ┆ null ┆ 7    ┆ 0        │
│ Male   ┆ A             ┆ A            ┆ 4            ┆ … ┆ null         ┆ null ┆ 10   ┆ 0        │
│ …      ┆ …             ┆ …            ┆ …            ┆ … ┆ …            ┆ …    ┆ …    ┆ …        │
│ Female ┆ A             ┆ A            ┆ 1            ┆ … ┆ null         ┆ null ┆ 10   ┆ 0        │
│ Female ┆ C             ┆ A            ┆ 4            ┆ … ┆ null         ┆ null ┆ 7    ┆ 0        │
│ Female ┆ B             ┆ C            ┆ 4            ┆ … ┆ 35.5         ┆ 943  ┆ 2    ┆ 0        │
│ Male   ┆ A             ┆ C            ┆ 3            ┆ … ┆ null         ┆ null ┆ 10   ┆ 0        │
│ Male   ┆ A             ┆ A            ┆ 1            ┆ … ┆ 13.99        ┆ 1885 ┆ 10   ┆ 0        │
└────────┴───────────────┴──────────────┴──────────────┴───┴──────────────┴──────┴──────┴──────────┘